<ol class="breadcrumb text-center black">
  <li><a href="/">Home</a></li>
  <li><a href="/createevent">Create Event</a></li>
  <li><a href="/events">Events</a></li>
  <li><a href="/profile">Profile</a></li>
</ol>
<div class="black">
	<div class="container-fluid">
		<div class="row">
			<div class='col-md-4'>
				<h1 class='text-center deep-orange-text'>Create an Event</h1>
				<form action='/profile' method='POST' class="card">
					<div class="list-group-item black-text">
						<input type="text" class="form-control" name="name" placeholder="Name">
					</div>
					<div class="list-group-item black-text">
						<input type="text" class="form-control" name="description" placeholder="Description">
					</div>
					<div class="list-group-item black-text">
						<input type="text" class="form-control" name="address" placeholder="Address">
					</div>
					 <button type='submit' class='btn btn-deep-orange btn-block'><strong class="display2">Create Event</strong></button>
				</form>
			</div>
						<div class="col-md-4">
				<div id="map-container"></div>
			</div>
			<div class='col-sm-12 col-md-4 eventpage'>
				<h1 class="text-center deep-orange-text">Events</h1>
				<div class='card overflow'>
					<%events.forEach(function(events) {%>
					<img class='card-img-top' src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=events.lat%>,<%=events.lng%>&fov=90&heading=235&pitch=10&initMap" alt="Card image cap">
					<div class='card-block'>
						<h4 class="deep-orange-text"><%=events.name%></h4>
						<p><%=events.description%></p>
						<p><%=events.address%></p>
					</div>
					<%})%>
				</div>
			</div>
		</div>
	</div>
</div>
<script>var markers = <%- JSON.stringify(events) %> </script>
