
 <ol class="breadcrumb text-center black">
	<li><a href="/">Home</a></li>
	<li><a class="white-text" href="/createevent">Create Event</a></li>
	<li><a class="white-text" href="/events">Events</a></li>
	<li><a class="white-text" href="/profile">Profile</a></li>
</ol>

<div class="black">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div id="map-container" class="card"></div>
		</div>
		<div class="col-md-4">
			<div class="overflow card">
				<%events.forEach(function(events) {%>
				<img class='img-responsive' src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=events.lat%>,<%=events.lng%>&fov=90&heading=235&pitch=10&initMap" alt="Card image cap">
				<hr>
				<h2><%= events.name%></h2>
				<p><%= events.description%></p>
				<p><%= events.address%></p>
			<%})%>
			</div>
		</div>
	</div>
</div>
</div>
<script>var markers = <%- JSON.stringify(events) %> </script>
