<ol class="breadcrumb text-center black">
	<li><a href="/">Home</a></li>
	<li><a href="/createevent">Create Event</a></li>
	<li><a href="/events">Events</a></li>
	<li><a href="/profile">Profile</a></li>
	<li><a href="/auth/logout">log out</a></li>
</ol>
<div class="black">
	<div class="container">
		<div class="row">
			<div class="col-md-4 signup-border">
				<h1 class="card-block"> <span class="deep-orange-text"><%= currentUser.firstName%> <%= currentUser.lastName%></span></h1>
				<% if(currentUser.avatar != null) {%>
				<img class="img-responsive" src='https://res.cloudinary.com/ttmuangkeo/image/upload/g_face,c_thumb,w_300,h_300/<%=currentUser.avatar%>.jpg' alt="">
				<% } else{ %>
				<img class="img-responsive" src="/image/avatar.png" alt="">
				<%}%>

				<form action="/edit" method="POST" enctype="multipart/form-data">
					<label class="btn btn-primary btn-block btn-file"><strong>Choose a Profile Picture </strong><input type="file" name="myFile" class="hidden">
					</label>
					<button type='submit' class='btn btn-deep-orange btn-block'><strong class="display2">Submit</strong></button>
				</form>
			</div>
			<div class="col-md-8 overflow signup-border">
			<div class="card-block">
					<%events.forEach(function(events) {%>
					<img class='img-responsive' src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=events.lat%>,<%=events.lng%>&fov=90&heading=235&pitch=10&initMap" alt="Card image cap">
					<h1 class="deep-orange-text"><%=events.name%></h1>
					<h3 class="white-text"><%=events.description%></h3>
					<h3 class="white-text"><%=events.address%></h3>
					<%})%>
				</div>
			</div>
		</div>
	</div>
</div>
