<ol class="breadcrumb text-center">
	<li><a href="/">Home</a></li>
	<li><a href="/createevent">Create Event</a></li>
	<li><a href="/events">Events</a></li>
	<li><a href="/profile">Profile</a></li>
	<li><a href="/auth/logout">log out</a></li>
</ol>


<h1 class='text-center'><%=currentUser.firstName%>'s Home  </h1>

<div class='container-fluid'>
	<div class='row'>
		<div class='col-md-3'>
			<h4><%=currentUser.firstName%>'s Bio</h4>
			<img src='https://res.cloudinary.com/ttmuangkeo/image/upload/g_face,c_thumb,w_150,h_150/<%=currentUser.avatar%>.jpg' alt="">


			<form action="/edit" method="POST" enctype="multipart/form-data">
				<label class="btn btn-default btn-file">
					Choose Display Picture <input type="file" name="myFile" class="hidden">
				</label>
				<input type="submit" class="btn btn-primary">
			</form>
		</div>



		<div class='container-fluid'>
			<div class='row'>
				<div class='col-md-3 eventpage'>
					<h1>Events</h1>
					<div class='card carousel-item'>
						<%events.forEach(function(events) {%>
						<img class='card-img-top' src="http://maps.googleapis.com/maps/api/staticmap?center=<%=events.lat%>,<%=events.lng%>&zoom=13&size=200x180">

						<div class='card-block'>

							<h4><%=events.name%></h4>
							<p><%=events.description%></p>
							<p><%=events.address%></p>

						</div>
						<%})%>

					</div>
				</div>
			</div>
		</div>



		



